body {
    background-color: rgb(255, 255, 255);
}






.menuSuperior{
    
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content:end;

}

#Principal1{

   padding: 0%;
    height: 100%;
    background-image: url('./principal1.jpeg');
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: aliceblue;
}
h1{
    font-size: 60px;
    font-style: italic;
}
.SobreMG{
    font-size: 20px;
}
.InformaçõesSobreMG{
    font-size: 20px;
}



.menuSuperior li{
   
    margin-right: 40px;
}
.menuSuperior li a {
    text-decoration: none;
    color: #000;

}
.SobreMG{ 
    
    border: 1px solid darkblue
    justify-content: end;
    display: inline-block;
    word-wrap: break-word;
    position:relative;
    left: 72%;
    font: size 20xp;
    width: 180px;
    padding: 0px;
    height: 90px;
    
}
.InformaçõesSobreMG{
    display: inline-block;
    word-wrap: break-word;
    position:relative;
    left: 75%;
    font: size 20xp;
    width: 180px;
    padding: 10px;
    height: 100px;
}



ul {
  display: flex;
  margin: 0px;
    padding:5px;
    list-style-type: none ;
}
li{
    margin-right: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif
    list-style-type: none ;
}
li img{
    width: 70%;
  
}
#Historia{

    padding: 0%;
     height: 150%;
     
     background-image: url('./Bandeirasmg.jpeg');
     
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center center;
     color: rgb(7, 7, 7);
 }
 .img{
    height: 300px;
    width: 350px;
 }
